auth.json
commandcode-models.json
models-store.json
npm
git
sessions
state
settings.json
missions
extensions/*
!extensions/pi-permission-system/config.json
!extensions/*.ts
pi-todo-state.json
crashes.json
mcp*
!mcp.json
bin/
install/
fff/*
.env
trust.json
