auth.json
commandcode-models.json
models-store.json
npm
git
sessions
state
settings.json
missions
**/logs/*
pi-todo-state.json
crashes.json
mcp*
!mcp.json
bin/
install/
fff/*
.env
trust.json
node_modules/
